/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#timer{
    width: 235px;
}
#value{
    width: 165px;
}

#counter{
    display: inline;
    position: relative;
    top: -6px;
}

#resposta,
.warning{
    text-align: center;
    font-size: 2em;
    width: 200px;
    height: 43;
    margin-bottom: 10px;
}

.btn {
    padding: 12px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

    width: 60%;

    border-radius: 8px;
    background-color: #555555;
    color: White;
    border: 2px solid #555555;
}

.btn:hover {
    background-color: white;
    color: #555555;
}

fieldset{
    border-radius: 8px;
}

.interface,
.cfg{
    display: block;
    width: 300px;
    height: 250px;
}
.interface{
    text-align: center;
}
.cfg-qtd{
    margin: 5px;
    width: 100%;
}
.score{
    display: inline;
}

p{
    margin: none;
}