div {
    width: 38px;
    height: 38px;
    background: black;
    border: 1px solid gray;
    position: absolute;
    top: 42px;
    left: 42px;
}

#win { 
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-position: left -20px top -20px;
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #999 1px, #FFF 1px);
}

#a {    
    width: 38px;
    height: 38px;
    border: 1px solid green;
    left: 200px;
}
#b {
    left: 160px;
}
#c {
    left: 120px;
}
#d {
    left: 80px;
}
#e {
    left: 40px;
}