/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: block;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
}

/*
 * Navbar
 */

 nav{
  text-shadow: none; /* Sobrescrever mudança no body */
}

/*
 * Cover
 */
.cover {
  height: 100%;
  max-width: 100%;
}

.cover-heading {    
  /* The image used */
  background-image: url("img/bg_1.png");

  /* Set a specific height */
  min-height: 100%;
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% ;
}

.cover-text{
  position: relative;
  top: 70vh;
}

/*
 * Imagens
 */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url('/w3images/parallax1.jpg');
  min-height: 100%;
}

